
vim.opt.number = true
vim.opt.relativenumber = true
vim.g.vscode_snippets_path = vim.fn.stdpath "config" .. "/lua/custom/lua_snippets"

{{ if hasKey . "micromamba_path" }}
vim.g.python3_host_prog = '{{ .micromamba_path }}/envs/{{ .micromamba_py_env }}/bin/python'
vim.g.node_host_prog = '{{ .micromamba_path }}/envs/{{ .micromamba_node_env }}/bin/node'
{{ end }}
