Host *
    ServerAliveInterval 300
    ServerAliveCountMax 2

Host gitlab-danpharrell
   HostName gitlab.com
   IdentityFile ~/.ssh/id_ed25519_gitlab_danpharrell
   IdentitiesOnly yes

Host github-danpf
   HostName github.com
   IdentityFile ~/.ssh/id_ed25519_github_danpf
   IdentitiesOnly yes

{{ if hasKey . "machine_ssh" -}}
{{ .machine_ssh }}
{{- end }}
